Source: hieracles
Section: ruby
Priority: optional
Maintainer: mose <mose@gandi.net>
Uploaders: mose <mose@gandi.net>
Standards-Version: 3.9.4
XS-Ruby-Versions: all
Vcs-Git: https://github.com/Gandi/hieracles.git
Vcs-Browser: https://github.com/Gandi/hieracles.git

Package: hieracles
Architecture: any
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${misc:Depends}, ruby | ruby-interpreter
Homepage: https://github.com/Gandi/hieracles
Description: Command-line tool for analysis and deep examination of Hiera paramaters in a Puppet setup
 Hieracles is a command-line tool for analysis and deep examination of Hiera paramaters in a Puppet setup. It's used internally at Gandi and its first incarnation is strongly tied to Gandi puppet architecture. But Hieracles tends to become, in time, a generic Hiera overlay visualisation tool.
