#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PKG_VERSION = $(shell dpkg-parsechangelog -S version)

%:
	dh $@ --buildsystem=ruby --with ruby

